* {
    margin: 0;
    padding: 0;
    outline: 0;
}

header {
    width: 1000px;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

header h3 {
    align-self: center;
}

header ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    align-self: center;
}

header ul li a {
    text-decoration: none;
    color: #000;
}

header button {
    position: absolute;
    right: 0;
    align-self: center;
    width: 30px;
    height: auto;
    border: none;
    background: transparent;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    visibility: hidden;
}

/* Responsive */

@media screen and (max-width: 1000px) {
    header {
        width: 100%;
        margin: 0 30px;
        position: relative;
    }

    header ul {
        flex-direction: column;
        position: absolute;
        top: 60px;
        visibility: hidden;
    }

    header button {
        position: fixed;
        right: 30px;
        visibility: visible;
    }
}