/* Extra Extra Large Device */
@media only screen and (max-width: 1400px) {

}

/* Extra Large Device */
@media only screen and (max-width: 1200px) {
    .features-grid,
    .trending-product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Large Device */
@media only screen and (max-width: 992px) {
    header {
        width: 100%;
        margin: 0 30px;
        position: relative;
    }

    header ul {
        flex-direction: column;
        position: absolute;
        top: 60px;
        visibility: hidden;
    }

    header button {
        position: fixed;
        right: 30px;
        visibility: visible;
    }
}

/* Medium Device */
@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
    .inner-container {
        width: 100%;
    }
    .features-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Small Device */
@media only screen and (max-width: 576px) {
    .cart-modal {
        width: 100%;
        right: 0;
    }
    .trending-product-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}