/* Small Device */
@media only screen and (max-width: 576px) {
    
}

/* Medium Device */
@media only screen and (max-width: 768px) {

}

/* Large Device */
@media only screen and (max-width: 992px) {
    header {
        width: 100%;
        margin: 0 30px;
        position: relative;
    }

    header ul {
        flex-direction: column;
        position: absolute;
        top: 60px;
        visibility: hidden;
    }

    header button {
        position: fixed;
        right: 30px;
        visibility: visible;
    }
}

/* Extra Large Device */
@media only screen and (max-width: 1200px) {

}

/* Extra Extra Large Device */
@media only screen and (max-width: 1400px) {

}